{
  "proxy_settings": {
    "rotation_strategy": "round_robin",
    "retry_count": 3
  },
  "proxies": [
    {
      "ip": "111.11.11.11",
      "port": "1111",
      "username": "1",
      "password": "1",
      "country": "United Kingdom",
      "city": "London"
    }
  ]
}